<a href="https://colab.research.google.com/github/AlejandroDiazRamos/CodingDojoDataScience/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd

In [6]:
filename = '/content/drive/MyDrive/CodingDojo/DataScience/Pandas/PandasParaManipulaciónDeDatos/titanic.csv'
df = pd.read_csv(filename)

In [7]:
# Tu tarea es escribir código para contestar todas las siguientes preguntas:
# 
#     Muestra la cabecera de la trama de datos
#     ¿Cuál es el porcentaje de personas que sobrevivió? (pista: encuentra la media de la columna de supervivencia)
#     ¿Cuántos de cada sexo sobrevivieron?
#     ¿Cuál es el porcentaje de gente que sobrevivió que pagó un pasaje de menos de 10?
#     ¿Cuál es la edad promedio de quienes no sobrevivieron?
#     ¿Cuál es la edad promedio de quienes sobrevivieron?
#     ¿Cuál es la edad promedio de quienes sobrevivieron y no sobrevivieron agrupados por sexo?

In [9]:
# Muestra la cabecera de la trama de datos
df.columns
df.head(0)

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [10]:
#¿Cuál es el porcentaje de personas que sobrevivió? (pista: encuentra la media de la columna de supervivencia)
int(df["Survived"].mean()*100)

38

In [11]:
#¿Cuántos de cada sexo sobrevivieron?
df.groupby(["Sex"])[["Survived"]].count()

        Survived
Sex
female       314
male         577

In [12]:
#¿Cuál es el porcentaje de gente que sobrevivió que pagó un pasaje de menos de 10?
int(df[(df["Fare"]<10)]["Survived"].mean()*100)

19

In [13]:
#¿Cuál es la edad promedio de quienes no sobrevivieron?

int(df[(df["Survived"]==0)]["Age"].mean())

30

In [14]:
#¿Cuál es la edad promedio de quienes sobrevivieron?
int(df[(df["Survived"]==1)]["Age"].mean())

28

In [15]:
#¿Cuál es la edad promedio de quienes sobrevivieron y no sobrevivieron agrupados por sexo?
df.groupby(["Sex"])[["Age"]].mean()

              Age
Sex
female  27.915709
male    30.726645